button {
  background-color: lightgrey;
  border: 1px solid white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  padding: 0;
}


.cross {
  background-color: lightblue;
  color: cornflowerblue;
}

.ooo {
  background-color: lavender;
  color: rebeccapurple;
}
